/*Grundlæggende indhold*/

body {
    background-color: white;
    margin: 0px;
}


/*Selve header - logo - overskrift*/

.header {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: #3DCD58;
    overflow: hidden;
}

.logo {
    float: left;
    width: 10%;
}

.overskrift {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3vw;
}


/*Div til venstre, som indeholder vores navbar*/

.side {
    width: 25%;
    padding-top: 2%;
    display: inline-start;
}


/*Grundlæggende for navbar*/

.topnav1 {
    overflow: hidden;
    background-color: #eee;
    display: block;
    padding: 20px;
}

.precode {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.imgwidth {
    width: 200px;
}

.paragraf {
    font-family: Arial;
}


/*Designet navbar*/

.topnav1 a {
    width: 100%;
    float: right;
    background-color: #42B4E6;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1, 5vw;
    margin: 5px;
    border: 2px solid rgb(0, 69, 78);
    border-radius: 10px;
    cursor: pointer;
}


/*Når musen er over en knap i navn bar, skifter knappen farve og får en baggrundsskygge*/

.topnav1 a:hover {
    border-radius: 12px;
    background-color: #3087AD;
    color: rgb(0, 69, 78);
}


/*Når du er inde under en knap, er farven ændret fast*/

.topnav1 a.active {
    background-color: rgb(61, 205, 88);
    color: rgb(0, 69, 78);
    border-radius: 12px;
}


/*Div til højre - herunder vores funktioner med kode kommer*/

.row {
    width: 70%;
    float: right;
    padding: 5%;
    margin-top: -570px;
}


/*Eksempler: Knapper*/

.topnav1 a.button1 {
    width: 20%;
    display: inline-start;
    float: left;
    background-color: #42B4E6;
}

.topnav1 a.button1:hover {
    background-color: #3087AD;
}

.tekst {
    display: inline-block;
    vertical-align: top;
    font-family: Arial;
}


/*vores footer*/

.bund {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #626469;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    padding: 5px;
    margin-top: 200px;
}

#page-container1 {
    position: relative;
    min-height: 55vh;
}

#page-container {
    position: relative;
    min-height: 50vh;
}

#page-container3 {
    position: relative;
    min-height: 20vh;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .header {
        height: 200px;
    }
    .row {
        margin-top: -543px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        height: 150px;
    }
    #page-container3 {
        min-height: 0vh;
    }
    .row {
        margin-top: -535px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 120px;
    }
    #page-container3 {
        min-height: -100vh;
    }
    #page-container1 {
        min-height: 60vh;
    }
    .row {
        margin-top: -530px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        height: 80px;
    }
    #page-container3 {
        min-height: -100vh;
    }
    .row {
        margin-top: -523px;
    }
    .navbar {
        width: 100%;
        height: 50px;
    }
    a.btn {
        font-size: 10px;
    }
    button {
        font-size: 10px;
    }
    form.søg input[type=text] {
        font-size: 10px;
        width: 100px;
    }
    .fa-search:before {
        font-size: 10px;
    }
    form.søg button {
        margin-top: 5px;
        padding: 0px;
    }
}

@media screen and (max-width: 376px) {
    .header {
        height: 60px;
    }
}